body {
	background-color: rgb(199, 237, 204);
	margin-left: 1.5em;
}

input {
	background-color: inherit;
	border-style: none;
	outline: none;
}

input, .Consolas {
	font-style: normal;
	font-size: 1em;
	font-weight: normal;
	font-family: Consolas;
}

input {
	margin-left: -0.1em;
	caret-color: red;
	width: 'auto';
}

a {
	text-decoration: none;
}

.hidden {
	display: None;
}

.comment {
	color: grey;
}

.unused {
	background-color: rgb(180, 220, 190);
}

form {
	margin-left: 1.5em;
}

td {
	text-align: center;
}