<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/css/style.css">
<title>{{symbol}}</title>

<div id=root>
    <console :statements=statements></console>
</div>

<script src="static/unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
<script src="static/unpkg.com/qs@6.10.2/dist/qs.js"></script>

<script src="static/unpkg.com/vue@3.2.11/dist/vue.global.prod.js"></script>
<script src="static/unpkg.com/vue3-sfc-loader@0.8.4/dist/vue3-sfc-loader.js"></script>

<script>
MathJax = {
    startup: {
        ready(){
            console.log('MathJax is loaded, but not yet initialized');
            MathJax.startup.defaultReady();
            console.log('MathJax is initialized, and the initial typeset is queued');
              
            MathJax.startup.promise.then(() => {                    
                  console.log('MathJax initial typesetting complete');
                  setTimeout(() => {
                      for (let p of document.querySelectorAll('p')){
                          if (p.innerText.startsWith("\\[")) {
                              console.log("unfinished work detected!");
                              console.log(p.innerText);
                              console.log('trying MathJax.typesetPromise() again;');
                              MathJax.typesetPromise();
                              break;
                          }
                      }
                  }, 
                  500);
            });                  
        }
    },

    tex: {
        maxBuffer: 10 * 1024,       // maximum size for the internal TeX string (10K)
    //reference: http://docs.mathjax.org/en/latest/options/input/tex.html?highlight=MAXBUFFER#the-configuration-block
    },
};
</script>

<script async src="static/unpkg.com/mathjax@3.2.0/es5/tex-chtml.js"></script>

<script src="static/js/std.js"></script>
<script src="static/js/utility.js"></script>

<script type=module>
createApp('console', {
    statements : {{statements|tojson}},
});

from_post('eval', {py: {{script|tojson}}}).then(result => {
    console.log('latex = ' + result.latex);
});

//http://docs.mathjax.org/en/latest/web/components/combined.html    
</script>
